.MyPart3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  img {
    width: 100%;
    cursor: pointer;
  }
  h4 {
    padding-top: 5px;
    font-size: 14px;
    color: gray;
    font-weight: 500;
  }
}
