.container {
  display: flex;
  align-items: center;
  justify-content: center;
  .col-4 {
    color: white;
  }

  .col-8 {
    .bg-body-tertiary {
      background-color: white;
      #containerFluid {
        #navbarScroll {
          //   border: 1px solid red;
          //   background-color: white;
          .Nav {
            display: flex;
            gap: 20px;
            font-weight: 600;
            &:hover {
              color: #2e6ce9;
            }
            .NavDropdown {
              .Item {
                font-family: system-ui, -apple-system, BlinkMacSystemFont,
                  "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
                  "Helvetica Neue", sans-serif;
                color: gray;
                &:hover {
                  color: #2e6ce9;
                }
              }

              #iconItem {
                display: flex;
                border: 1px solid red !important;
                a {
                  border: 1px solid;
                  color: red !important;
                  i {
                    color: red !important;
                  }
                }
              }
            }
          }

          #Form {
            // border: 1px solid;
            width: 300px;
            align-items: center;
            justify-content: center;
            gap: 10px;

            #moon {
              border-radius: 50%;
              i {
                color: white;
              }
            }
            #dots {
              font-size: 20px;
              background-color: white !important;
              color: #2e6ce9;
            }

            #subscribe {
              border: 1px solid;
              border: none;
              border-radius: 3px;
              font-weight: 600;
              font-size: 14px;
            }
            #search {
              font-size: 25px;
              background-color: white !important;
            }
          }
        }
      }
    }
  }
}
// light

// dark
.dark {
  color: white;
  background-color: black;
  #containerFluid {
    #navbarScroll {
      //   border: 1px solid red;
      //   background-color: white;
      .Nav {
        display: flex;
        gap: 20px;
        font-weight: 600;
        &:hover {
          color: #2e6ce9;
        }
        .NavDropdown {
          .Item {
            font-family: system-ui, -apple-system, BlinkMacSystemFont,
              "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
              "Helvetica Neue", sans-serif;
            color: gray;
            &:hover {
              color: #2e6ce9;
            }
          }

          #iconItem {
            display: flex;
            border: 1px solid red !important;
            a {
              border: 1px solid;
              color: red !important;
              i {
                color: red !important;
              }
            }
          }
        }
      }

      #Form {
        // border: 1px solid;
        width: 300px;
        align-items: center;
        justify-content: center;
        gap: 10px;

        #moon {
          border-radius: 50%;
          i {
            color: white;
          }
        }
        #dots {
          font-size: 20px;
          background-color: white !important;
          color: #2e6ce9;
        }

        #subscribe {
          border: 1px solid;
          border: none;
          border-radius: 3px;
          font-weight: 600;
          font-size: 14px;
        }
        #search {
          font-size: 25px;
          background-color: white !important;
        }
      }
    }
  }
}
