.MyPart4 {
  //   border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 50px;

  .top {
    width: 100%;
    h2 {
      display: flex;
      gap: 10px;
    }
    p {
      color: gray;
    }
  }

  .bottom {
    width: 100%;
    // border: 1px solid;
    height: 55vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .left {
      //   border: 1px solid red;
      width: 55%;
      height: 100%;
      border-radius: 15px;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        border-radius: 15px;
        transition: all 0.3s;
        &:hover {
          transform: scale(1.01);
        }
      }

      .toTheTop {
        position: absolute;
        // border: 1px solid;
        top: 280px;
        left: 50px;
        .btns {
          display: flex;
          gap: 10px;
          padding-bottom: 10px;
          .button {
            display: flex;
            gap: 5px;
            font-size: 13px;
            font-weight: 600;
            padding: 1px 15px;
          }
        }
        h1 {
          color: white;
          width: 600px;
          font-weight: 400;
          transition: linear 0.5s ease-in;

          &:hover {
            text-decoration: underline;
          }
        }

        .imgText {
          padding-top: 10px;
          display: flex;
          align-items: center;
          img {
            width: 45px;
            height: 45px;
            border-radius: 50%;
          }

          ul {
            display: flex;
            flex-direction: row;
            gap: 30px;
            align-items: center;
            justify-content: center;
            li {
              color: white;
              a {
                text-decoration: none;
                color: white;
                font-weight: 500;
              }
            }
          }
        }
      }
    }

    .right {
      height: 100%;
      width: 41%;
      //   border: 1px solid green;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .box {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        // border: 1px solid;
        .imgBox {
          border-radius: 12px;
          width: 32%;
          img {
            border-radius: 12px;
            width: 90%;
          }
        }

        .textBox {
          width: 63%;
          //   border: 1px solid;
          display: flex;
          flex-direction: column;
          gap: 5px;

          .btn {
            padding: 0;
            width: 30%;
            display: flex;
            gap: 8px;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-size: 13px;
            // background-color: #fbe9eb;
            opacity: 0.7;
            font-weight: 600;
          }
          h3 {
            font-size: 18px;
          }

          .avatarText {
            display: flex;
            flex-direction: row;
            img {
              width: 45px;
              height: 45px;
              border-radius: 50%;
            }
            ul {
              display: flex;
              flex-direction: row;
              gap: 25px;
              align-items: center;
              justify-content: center;
              li {
                color: gray;
                a {
                  text-decoration: none;
                  color: gray;
                  font-size: 14px;
                  font-weight: 600;
                }
              }
            }
          }
        }
      }
    }
  }
}
